# Test project address
BASE_URL=https://example.test

# Basic authentication
BASIC_AUTH_LOGIN=username
BASIC_AUTH_PASSWORD=change_me

# Test user
CLIENT_LOGIN=user@example.test
CLIENT_PASSWORD=change_me
ORGANIZATION_CLIENT=Test Organization
ORGANIZATION_MANAGER=Test Manager Organization
ORGANIZATION_ADMIN=Test Admin Organization
